.projects-container {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-gap: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.projects {
  color: white;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease;
}

.projects:hover {
  transform: skew(-1deg);
}

.projects h2, p {
  text-align: left;
  padding: 5px;
}

.projects p {
  font-weight: 500;
  padding: 5px;
}
