.projects-container {
  display: grid;
  grid-template-columns:  1fr 1fr;

}

.projects {
  color: white;
  background-size: cover;
  background-position: center;
}

.projects h2, p {
  text-align: left;
  padding: 5px;
}

.projects p {
  font-weight: 500;
  /* opacity: .7; */
  padding: 5px;
}
