.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.loader-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
  margin: 2px;
  animation: loader-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-text {
  font-size: 16px;
  color: #333;
}
