.about-container {
  height: 100%;
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(290deg,#00aeff61, #ff8800b8);

}

.about h1, p {
  text-align: left;
  padding: 1rem;
}

.about ul {
  padding: 1rem;
  list-style: none;
  margin-bottom: 0;
  display: flex;
}

.about li {
  margin-right: 20px;
}

.img {
  background-image: url("https://res.cloudinary.com/dfipoufmj/image/upload/v1666713856/rory_zoeandcam_a29pkj_qdktj3.jpg");
  /* height: 100px; */
  background-size: cover;
  object-fit: cover;
  width: 400px;
}
